<web-app>
  <distributable />
  <env-entry>
      <env-entry-name>graphTraversalUrl</env-entry-name>
      <env-entry-type>java.lang.String</env-entry-type>
      <env-entry-value>http://localhost:8080/dddsample-1.0.0/rest/graph-traversal/shortest-path</env-entry-value>
  </env-entry>
  <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
  <servlet-mapping>
        <servlet-name>javax.ws.rs.core.Application</servlet-name>
        <url-pattern>/rest/*</url-pattern>
   </servlet-mapping>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    
     <jms-destination>
        <name>java:global/jms/CargoHandledQueue</name>
        <interface-name>javax.jms.Queue</interface-name>
        <resource-adapter>jmsra</resource-adapter>
        <destination-name>CargoHandledQueue</destination-name>
    </jms-destination>
    <jms-destination>
        <name>java:global/jms/MisdirectedCargoQueue</name>
        <interface-name>javax.jms.Queue</interface-name>
        <resource-adapter>jmsra</resource-adapter>
        <destination-name>MisdirectedCargoQueue</destination-name>
    </jms-destination>
    <jms-destination>
        <name>java:global/jms/DeliveredCargoQueue</name>
        <interface-name>javax.jms.Queue</interface-name>
        <resource-adapter>jmsra</resource-adapter>
        <destination-name>DeliveredCargoQueue</destination-name>
    </jms-destination>
    <jms-destination>
        <name>java:global/jms/RejectedRegistrationAttemptsQueue</name>
        <interface-name>javax.jms.Queue</interface-name>
        <resource-adapter>jmsra</resource-adapter>
        <destination-name>RejectedRegistrationAttemptsQueue</destination-name>
    </jms-destination>
    <jms-destination>
        <name>java:global/jms/HandlingEventRegistrationAttemptQueue</name>
        <interface-name>javax.jms.Queue</interface-name>
        <resource-adapter>jmsra</resource-adapter>
        <destination-name>HandlingEventRegistrationAttemptQueue</destination-name>
    </jms-destination>
</web-app>
